#nie śledź pdfów poza folderem slajdy_pdf
*.pdf
!slajdy_pdf/*.pdf

#nie śledź kalendarza
*.ics

#nie śledź sublimetext
*.sublime-project
*.sublime-workspace

#nie śledź logistyki (folder, rekursywnie)
logistyka_2019-20/

#nie śledź revealjs (folder, rekursywnie)
reveal.js/