#nie śledź pdfów
*.pdf

#nie śledź kalendarza
*.ics

#nie śledź sublimetext
*.sublime-project
*.sublime-workspace

#nie śledź logistyki
LOGISTYKA*

#nie śledź revealjs (folder, rekursywnie)
reveal.js/